*{
  font-family: "Gill Sans Extrabold", sans-serif;
}

body {
  background-image: url("Lost_Cats_notxt.png");
  background-size: 100%;
}

#divAbo{
  position: absolute;
  margin-top: 50%;
  margin-left: 18%;
}
#divCon{
  position: absolute;
  margin-top: 50%;
  margin-left: 8%;
}
#divJoin{
  background-color: rgba(0,0,0,0.7);

  padding: 15px;
  position: absolute;
  border-radius:20px;
  margin-top: 5.5%;
  margin-left: 8%;
}
#divJoin p,  #divJoin h2,#divJoin h1{
  color : white;
}
#divJoin img {
  height: 20%;
  width: 20%;
}
#contact {
  
  background: transparent;
  border: none !important;
  font-size: 30px;

}
#about {
  background: transparent;
  border: none !important;
  font-size: 30px;
}
.imgpattes {
  width:18%;
  height:18%;
}
#twitterimg {
  max-width:50px;
  max-height:50px;
  
}
#back{
  position: absolute;
}
