*{
  font-family: "Gill Sans Extrabold", sans-serif;
}
body {
  background-image: url("Lost_Cats_1.png");
  background-size: 100%;
}

#divAbo{
  position: absolute;
  margin-top: 50%;
  margin-left: 18%;
}
#divCon{
  position: absolute;
  margin-top: 50%;
  margin-left: 8%;
}
#divJoin{
  position: absolute;
  margin-top: 5.5%;
  margin-left: 8%;
}
#divJoin img {
  height: 20%;
  width: 20%;
}
#contact {
  
  background: transparent;
  border: none !important;
  font-size: 30px;

}
#about {
  background: transparent;
  border: none !important;
  font-size: 30px;
}
.imgpattes {
  width:18%;
  height:18%;
}
